@charset "utf-8";
/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image:url(../img/back_complete.jpg);
	background-size: auto;
	background-repeat: repeat-x repeat-y;
	
}

body,td,th {
	font-family: "Museo Sans 500";
	color: #000;
}

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
h1 {
	font-size: 29px;
	color: #000;
	font-family: "Museo Sans 500";
	text-align:center;
}
h2 {
	font-size: 20px;
	color: #000;
	font-family: "Museo Sans 500";
}
h3 {
	font-size: 12px;
	color: #000;
	font-family: "Museo Sans 500";
}

@fontface{ font-family: "Museo Sans 500";
src: url(../font/MuseoSans_500.otf);
font-style:normal; }


/************************** header *******************************/

.logo{width:80%; margin: 0 20% 0 20%;}

.line{ box-sizing:content-box;
background-color:#000;
height:2px;
margin: 0 20% 0 20%;
}

.wrapper{ width:80%; margin:3% 10% 10% 10%;}


/****************** icons date time info ***********************/

.icons{width:100%; margin: 2% 25% 0 20%; }

.icons_box{float:left; width:72px; margin-left:10%; height:120px; margin-bottom:2%;}

.title_icon_on{
	font-size: 20px;
	color: #7957a0;
	font-family: "Museo Sans 500";
	text-transform:uppercase;}
	
	.title_icon_off{
	font-size: 20px;
	color: #c7c7c7;
	font-family: "Museo Sans 500";
	text-transform:uppercase;}
	
	
	/************************* DATE **********************/

.date_box{  
border-color:#f2f2f2;
border-style:solid;
background-color: #FFF;
box-sizing:content-box; 
width:60%; 
margin: 0 20% 0 20%;
position: relative;}

.container_date_box{width:100%; padding-left:15%; padding-right:15%; padding-bottom:3%;}

.date_box_small{
	width:105px;
height:85px;
border-color: #000;
border: solid 1px;
border-radius:5px;
float:left;
text-align:center;
margin: 0 1% 0 1%;
}

.date_box_small:hover {
width:105px;
height:85px;
border-color: #000;
border: solid 1px;
border-radius:5px;
float:left;
text-align:center;
margin: 0 1% 0 1%;
background-color:#999999;}

.text_date_small{font-size: 20px;
	color: #000;
	font-family: "Museo Sans 500";
	text-transform:uppercase;
	}
	
	.text_date_small:hover{font-size: 20px;
	color: #fff;
	font-family: "Museo Sans 500";
	text-transform:uppercase;}
	
	.text_date_large{font-size: 40px;
	color: #000;
	font-family: "Museo Sans 500";
	text-transform:uppercase;}
	
	.text_date_large:hover {font-size: 40px;
	color: #fff;
	font-family: "Museo Sans 500";
	text-transform:uppercase;}


/**************** TIME ********************/

.time_box{ 
border-color:#f2f2f2;
border-style:solid;
background-color: #FFF;
box-sizing:content-box; 
width:60%; 
margin: 0 20% 0 20%;
}

.container_time_box{width:100%; padding-left:2%; padding-bottom:3%; padding-top:1%;}

.time_box_small{
	width:110px;
height:30px;
border-color: #000;
border: solid 1px;
border-radius:0;
float:left;
text-align:center;
margin: 1% 1% 1% 1%;
padding:1% 0 0 0;
}

.time_box_small:hover{
		width:110px;
height:30px;
border-color: #000;
border: solid 1px;
border-radius:0;
float:left;
text-align:center;
margin: 1% 1% 1% 1%;
padding:1% 0 0 0;
background-color:#999999;}

.timezone {font-size: 12px;
	color: #ff6700;
	font-family: "Museo Sans 500";
	text-decoration:underline;
	text-transform:uppercase;}
    
	/************ INFO **************/
	
	.info_box{ 
border-color:#f2f2f2;
border-style:solid;
background-color: #FFF;
box-sizing:content-box; 
width:60%; 
margin: 0 20% 0 20%;
}

	.container_info_box{width:100%; padding-left:2%; padding-bottom:3%; padding-top:1%;}
	
	input{
border-color: #000;
border: solid 1px;
margin-left:18px;
border-radius:0;
float:left;
text-align:left;
padding-top:1%;
margin-top:1%;
width:90%;
height:30px;
color: #000;
font-family: "Museo Sans 500";
text-indent:10px;}

	textarea{
border-color: #000;
border: solid 1px;
margin-left:18px;
border-radius:0;
float:left;
text-align:left;
padding-top:1%;
margin-top:1%;
width:90%;
height:50px;
color: #000;
font-family: "Museo Sans 500";
text-indent:10px;}

.button_save{ 
border:solid #ff6b01; 
border-radius:5px; 
width:260px;
height:35px;
text-indent:10px;
background-image:url(../img/ic_next.png);
background-origin:content-box;
background-position: right;
background-repeat:no-repeat;
padding:0.8em 0 0 0.5em;

}

.text_button_save{
font-family: "Museo Sans 500";
color:#ff6b01;
font-size:20px;}